.cartsummary-card-container {
    
    width: 25rem;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 4rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    /* box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), inset 0px 0px 0px 1px rgba(209, 213, 219,1); */
    border-radius: 5px;
}

.cart-summary-heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
}

.product-checkoutlist-container {
    margin: 1rem 0;
    font-size: 1.2rem;
    /* font-weight: 600; */
}

.product-summary {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.total-price {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    font-size: 1.4rem;
    font-weight: 600;
}

.checkout {
    text-decoration: none;
    width: 100%;
    border-radius: 4px;
    color: #fff;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 0.4rem 0.7rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}