:root {
    /* --primary-color: #000000; */
    --primary-color: #E55807;
    --secondary-color: #84D2F6;
    --verylight-blue: #e8f0fe;
    --gray-color: #85888c;
    --dark-gray-color: #595b5e;
}

/* 
4 combs
1. #0052cc
2. #386FA4
3. #59A5D8
4. #84D2F6 */